@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, body > div {
  height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #141414;
  color: white;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-form-item {
  margin-bottom: 0;
}
.ant-list-item-action-split{
  height: 100%;
}
.ant-list-item a{
  padding-left: 20px
}
.ant-list-item-action{
  margin-right: 10px
}
